{% extends 'base.html.twig' %}

{% block title %}Hello SecteursController!{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col m-5 p-5">
    <img class="image5"src="imagess/manager.png" >
    </div>
    <div class="col">
      <p class="secteur1">DigitalPortage salarial accompagne portés et <br>entreprises dans des secteurs clés et porteurs :<br>
      <span class="textColor">Informatique et IT</span><br>
      <span class="textColor">Management de transition</span><br>
      <span class="textColor">Ressources Humaines</span><br>
      <span class="textColor">Formation</span><br>
      <span class="textColor">Marketing & Communication</span><br>
      <span class="textColor">Ingénierie</span><br>
      <span class="textColor">Logistique et Supply Chain</span><br>
      Notre connaissance pointue de ces secteurs <br>permet à chaque porté d’obtenir rapidement les<br> moyens de son développement professionnel.<br>
      Pour chaque entreprise, nous mettons en <br>adéquation les profils les plus adaptés à son <br>accroissement d’activité.
   </p>

    </div>
    <div>
    <p class="secteur2">DigitalPortage a développé une approche par secteur d’activité permettant de répondre avec précision aux besoins de chaque entrepreneur par une connaissance approfondie de leurs professions.<br>

     La connaissance de votre activité et de ses problématiques permet de prendre en compte votre environnement dans son ensemble et vous assure un véritable partenariat basé sur l’écoute, la confiance et la sécurité.
     </p>
    </div>

  </div>
</div>






{% endblock %}
