{% extends "base.html.twig" %}
{% block titre %}Explorer{% endblock %}

{% block body %}

  <div class="p-5 m-5">

    <div style="text-align:center ">
      <img src="{{ asset('imagess/portage5.png') }}" alt="" class="img500">
    </div>

    <div class="portagees">

        <h1 class="porte1">
        Qu’est-ce que le portage salarial ?<br>
        </h1>
     <p class="porte3">
        Le portage salarial est une forme d’emploi contractuelle entre une société de portage, un salarié porté et une entreprise cliente pour laquelle <br>la prestation d’un consultant est réalisée. Ce statut innovant permet à des professionnels indépendants (consultants, formateurs, experts etc.) <br>d’exercer leur activité en toute autonomie tout en bénéficiant de la protection sociale et juridique d’un salarié lambda.<br>

        Il existe deux types de contrat de portage salarial :<br>

        1 – Le contrat de travail entre le consultant porté et l’entreprise de portage salarial : ce contrat définit les modalités de la relation de travail entre <br>le consultant porté et l’entreprise de portage salarial, notamment la rémunération, les conditions de travail, les congés payés, les avantages sociaux, <br>etc.<br>

        2 – Le contrat de travail entre le consultant porté et l’entreprise de portage salarial : ce contrat définit les modalités de la relation de travail entre <br>le consultant porté et l’entreprise de portage salarial, notamment la rémunération, les conditions de travail, les congés payés, les avantages sociaux,<br> etc.<br>

        Fondé en 1980 et voté par l’Assemblé nationale et le Sénat le 25 juin 2008 de manière presque confidentielle, cette forme d’activité est en pleine<br> expansion depuis plusieurs années et connaît une croissance entre 10% et 30% chaque année. Son statut est intégré dans le code du travail dans <br>l’article L1251-64 et donne lieu officiellement à une définition du portage salarial : « Le portage salarial est un ensemble de relations contractuelles <br>organisées entre une entreprise de portage, une personne portée et des entreprises clientes, comportant pour la personne portée le régime du <br>salariat et la rémunération de sa prestation chez le client par l’entreprise de portage. »<br>
      </p>

        <h1 class="porte2">Concrètement, le portage salarial fonctionne de la manière <br>suivante :</h1>

       <p class="porte3">
        1- Le consultant signe un contrat de travail avec une entreprise de portage salarial, qui devient son employeur. Cette entreprise va facturer <br>les clients pour les missions réalisées par le consultant indépendant et gérer toute la partie administrative, juridique et comptable de l’activité. Elle va <br>également verser un salaire au consultant indépendant pour chacune de ses missions.<br>

        2- De son côté, le consultant indépendant conserve une totale autonomie dans la réalisation de ses missions, qu’il choisit lui-même et qu’il négocie <br>directement avec les clients. Il bénéficie cependant de certains avantages sociaux liés au statut du consultant, comme une couverture maladie et <br>une retraite complémentaire.<br>

        3- Le portage salarial est une solution intéressante pour les professionnels qui souhaitent exercer leur activité en toute indépendance, mais qui <br>cherchent à bénéficier d’une sécurité sociale et juridique. Cette solution permet d’éviter les contraintes liées à la création et à la gestion d’une <br>entreprise individuelle et peut être avantageuse pour les personnes en reconversion professionnelle ou qui souhaitent tester une activité avant de <br>se lancer en tant qu’entrepreneur individuel.<br>
       </p>

        <h1 class="porte2">Qu’est-ce qu’une société de portage salarial ?</h1><br>

    <p class="porte3">
        Une société de portage salarial est une entreprise qui propose à des professionnels (souvent des consultants, des freelances ou des indépendants) <br>de mettre à disposition leurs compétences et leurs services à des clients tout en leur offrant une couverture sociale et juridique en tant que salarié.<br>

        Dans un système de portage salarial, le consultant travaille en toute indépendance mais il est lié à une société de portage qui prend en charge <br>toutes les formalités administratives (facturation, recouvrement, gestion de la sécurité sociale etc.) et qui lui verse un salaire en fonction du chiffre<br> d’affaires réalisé.<br>

        La société de portage salarial permet ainsi au consultant de se concentrer sur son activité professionnelle sans avoir à gérer les aspects <br>administratifs et sociaux, et de bénéficier de la protection d’un contrat de travail tout en gardant une certaine autonomie dans ses missions.
     </p>
    </div>

  </div>

{% endblock %}
