{# {% extends 'base.html.twig' %}

{% block title %}New Postuler{% endblock %} #}

{% block body %}
<div class="m-5">
    <h1 >Postuler</h1>

    {{ include('postuler/_form.html.twig') }}

    {# <a href="{{ path('app_postuler_index') }}">back to list</a> #}
    </div>
{% endblock %}
