{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}
{% block h1 %}Back Office{% endblock %}

{% block body %}

<a class="btn btn-warning" href="{{ path('app_user_index') }}">member's management</a>

{% endblock %}
