{% extends "base.html.twig" %}
{% block titre %}Avantages{% endblock %}

{% block body %}

<div class="m-5">
  <h1 class="advantage">Quels sont les avantages du portage salarial ?</h1>
  <a class="btn btn-info1" href="https://www.youtube.com/watch?v=u29HCcWrdlU" role="button">Les Avantages</a>

  <div class="m-2">
    <p class="avantage">
      Le portage salarial est une forme d’emploi qui présente plusieurs avantages pour les consultants indépendants et les entreprises clientes :<br>

      1- Autonomie : le portage salarial permet de travailler de manière indépendante tout en bénéficiant d’un statut de salarié et d’un <br>accompagnement administratif.<br>

      2- Flexibilité : les consultants peuvent choisir leurs missions et leurs horaires de travail, tout en bénéficiant de la sécurité de l’emploi.<br>

      3- Simplification administrative : le portage salarial permet de simplifier la gestion administrative liée à l’activité professionnelle, en <br>déléguant les tâches administratives à une entreprise de portage salarial.<br>

      4- Protection sociale : les consultants indépendants bénéficient de la protection sociale d’un salarié, notamment en matière de sécurité <br>sociale, de retraite et d’assurance chômage.<br>

      5- Accompagnement : les entreprises de portage salarial proposent souvent un accompagnement pour la recherche de missions, la <br>négociation des tarifs et la gestion de la facturation.<br>

      6- Professionnalisation : le portage salarial permet aux consultants indépendants de se professionnaliser et de développer leur réseau <br>professionnel.<br>

      7- Rémunération : les consultants indépendants en portage salarial bénéficient d’une rémunération attractive et transparente, avec un salaire <br>fixe et des primes liées aux résultats de leur mission.<br>

      Ces avantages font du portage salarial une alternative intéressante pour les consultants indépendants qui souhaitent bénéficier de la sécurité <br>de l’emploi tout en conservant leur autonomie et leur liberté d’action.<br>

    </p>

    <div style="text-align:center ">
      <img src="{{ asset('imagess/avantage.png') }}" alt="" class="img500">
    </div><br>

    <div>
    <b class="inconvenients">
 <h1 class="inconvh1">Quels sont les inconvénients du portage salarial ?</h1><br>

   <p  class="inconv"> Les multiples avantages dont bénéficie le consultant porté (gestion administrative simplifiée, statut sécurisé, accès à la formation…) présente <br>comme tout dispositif, quelques contraintes.<br>

   Le portage salarial n’est pas ouvert à tous les métiers. Seules, les missions de prestations intellectuelleset les professions libérales <br>non règlementées sont éligibles à une solution de portage salarial.

   De plus, le portage salarial peut être plus coûteux que d’autres formes de travail indépendant, car le consultant porté doit payer des frais de <br>gestion à la société de portage salarial directement prélevés sur son chiffre d’affaires sur une base de 5 à 10%.<br>

   Risque de non-paiement : le consultant porté peut-être confronté à un risque de non-paiement si l’entreprise cliente ne paie pas la société de <br>portage salarial pour les services rendus.<br>

   Par ailleurs, la société de portage salarial possède un droit de regard sur les missions de ses salariés portés. Le tarif journalier moyen <br>minimum imposé par la convention collective s’élève à 300€.<br>
     </p>
    </b>
    </div>
  </div>
</div>


{% endblock %}
