{% extends "base.html.twig" %}
{% block titre %}Commaunauté{% endblock %}

{% block body %}


<p class="communaute">
Le portage salarial est une forme d’emploi qui présente plusieurs avantages pour les consultants indépendants et les entreprises clientes
</p>


{% endblock %}
