{# {% extends "base.html.twig" %}
{% block titre %}Explorer{% endblock %}

{% block body %}

<h1 class="p-2 m-2 ">Le Portage salarial : définition et guide</h1>

<div class="p-2 m-2">
Le portage salarial est une solution qui fait de l’œil à de nombreux auto-entrepreneurs, et pour cause, il offre de nombreux avantages non négligeables. Lorsque l’on crée sa propre entreprise, on a en effet la possibilité de rejoindre une société de portage pour obtenir le statut de salarié grâce à un contrat de travail, tout en continuant de piloter son activité comme on l’entend. Cela va alors avoir un impact et des avantages à plusieurs niveaux comme le salaire, le chômage, la mutuelle et bien d’autres choses encore. Ainsi, nombreux sont les indépendants à opter pour ce statut afin d’effectuer leurs missions et prestations en bénéficiant d’un statut de salarié.

</div>
<div class=" top-margin20 p-2 m-2">
<b>
Alors que trouve-t-on dans un contrat de portage salarial ? Quels sont les avantages pour les salariés portés ? Qu’en est-il du financement et de la rémunération ? Quelle est la règlementation relative au portage salarial ?

</b>

</div>
{% endblock %} #}
