{% extends "base.html.twig" %}
{% block titre %}Comment ça fonctionne{% endblock %}

{% block body %}

  <div class="fonctionne">

    <h1>Comment fonctionne le portage salarial ?</h1>

    <div >
      <img src="{{ asset('imagess/portages.png') }}" alt="" class="img500">
    </div><br>



    <h4>Les concernés sont :</h4><br>

    <p class="fonct1">
      1- Le salarié porté<br>

      2- L’entreprise de portage<br>

      3- L’entreprise cliente<br>
    </p>

    <h1>PROSPECTION ET NÉGOCIATION COMMERCIALE</h1><br>


    <p class="fonct1">Le salarié porté qui a une qualification doit lui-même chercher une mission et trouver sa société de portage, il doit :<br>

      – Vérifier que la société de portage a une activité compatible à ses qualifications.<br>

      – Vérifier les outils qui seront mis à disposition et choisir un CDD ou CDI.<br>

      – Vérifier les conditions de travail<br>

      – Remplir chaque fin de mois un CRA (compte rendu d’activité) qui vérifie la charge de travail, le temps d’activité et <br>
      sa qualification, afin de permettre d’établir sa feuille de paye.<br>

      L’entreprise de portage salarial ne doit pas lui fournir de travail mais :<br>

      – Doit accompagner le salarié porté<br>

      – Elle est seule à conclure un contrat avec le salarié<br>

      – Doit vérifier que la mission proposée par l’entreprise cliente est compatible avec le portage salarial<br>

      – Que la durée de prestation d’une durée maximum de 36 mois ne comporte pas quelques interdits (service à la personne, <br>
      travaux dangereux, professions réglementées)<br>

      – Vérifier que le salarié porté est qualifié pour l’activité de portage définie par la convention collective<br>

      – Vérifier la solidité financière de l’entreprise cliente pour assurer la garantie des salaires<br>

      – Proposer une intégration à son réseau professionnel pour un salarié exerçant une activité indépendante. Ce dernier peut <br>
      créer son activité et sa propre clientèle en conservant le statut de salarié porté.<br>

      – Elle doit vérifier les outils et le matériel mis à la disposition du salarié (plateforme d’échanges, accès mobile au compte d’activité…)<br>

      – Conclure dans les 2 jours de la demande le contrat avec l’entreprise cliente qui l’a négocié avec le salarié<br>

      – Doit ouvrir un compte d’activité au salarié<br>

      – Vérifier les compétences pour développer un projet professionnel<br>

      – Souscrire pour le compte du salarié une assurance responsabilité civile professionnelle<br>

      – L’entreprise de portage est rémunérée par les frais de gestion (mis en place de la convention facturation…)<br>
      </p>
      <h4>L’entreprise cliente :</h4><br>

    <p class="fonct1 mb-5">
      – Doit vérifier les compétences du salarié porté compatibles avec les missions qui lui seront confiées<br>

      – Doit négocier les conditions du contrat qui seront établi par l’entreprise de portage<br>

      – Présenter les outils mis à sa disposition<br>

      – L’informer des conventions collectives qui déterminent entre autres le salaire minimum (77% du plafond Sécurité Sociale)<br>

      – Devra accompagner le salarié dans l’exécution des missions<br>

      – Devra approuver le CRA (compte rendu d’activité) (charges de travail, dates et heures effectuées) qui établira sur cette base la feuille de paye<br>

      – Le financement de cette rémunération fait suite aux missions remplies par le salarié porté qui sont payées par le client à l’entreprise cliente qui à <br>
      son tour paiera le salarié<br>
      </p>


  </div>

{% endblock %}
