{% extends "base.html.twig" %}
{% block titre %}Explorer{% endblock %}

{% block body %}
<div class="p-3 m-3">
  <div class="col top-margin50">
    <img src="{{ asset('images/portage5.png') }}" alt="" class="img500">
  </div>
  <h2 class="p-2 m-2">PORTAGE SALARIALE :</h2>

  <div class="m-3">
    <b style="color:dark">
     Vous souhaitez exercer une activité indépendante ? Facturer des missions sans créer
     de structure juridique propre, tout en bénéficiant des avantages du statut de salarié(e) ?
     Choisissez le portage salarial avec DigitalPortage !
    </b>
</div>

<h1 class="p-2 m-2">DÉFINITION & FONCTIONNEMENT</h1>
<a class="btn btn-info p-2 m-2" href="https://www.youtube.com/watch?v=eb01gz6IpiI" role="button">Portage Salarial</a>

<div class="m-3">
  <b style="color:dark">
   Le portage salarial est une solution qui fait de l’œil à de nombreux auto-entrepreneurs,
   et pour cause, il offre de nombreux avantages non négligeables. Lorsque l’on crée sa propre entreprise,
   on a en effet la possibilité de rejoindre une société de portage pour obtenir le statut de salarié grâce
   à un contrat de travail, tout en continuant de piloter son activité comme on l’entend. Cela va alors avoir
   un impact et des avantages à plusieurs niveaux comme le salaire, le chômage, la mutuelle et bien d’autres
   choses encore. Ainsi, nombreux sont les indépendants à opter pour ce statut afin d’effectuer leurs missions
   et prestations en bénéficiant d’un statut de salarié.<br>
  </b>
  <h1>Comment fonctionne le portage salarial ?</h1>
  <div style="text-align:center">
    <img src="{{ asset('images/portages.png') }}" alt="" class="img500">
  </div><br>
 <h1>Les concernés sont :</h1><br>

<p>
1- Le salarié porté<br>

2- L’entreprise de portage<br>

3- L’entreprise cliente<br>
</p>
<h1>PROSPECTION ET NÉGOCIATION COMMERCIALE</h1><br>
<p>Le salarié porté qui a une qualification doit lui-même chercher une mission et trouver sa société de portage, il doit :

– Vérifier que la société de portage a une activité compatible à ses qualifications.

– Vérifier les outils qui seront mis à disposition et choisir un CDD ou CDI.

– Vérifier les conditions de travail

– Remplir chaque fin de mois un CRA (compte rendu d’activité) qui vérifie la charge de travail, le temps d’activité et sa qualification, afin de permettre d’établir sa feuille de paye.

L’entreprise de portage salarial ne doit pas lui fournir de travail mais :

– Doit accompagner le salarié porté

– Elle est seule à conclure un contrat avec le salarié

– Doit vérifier que la mission proposée par l’entreprise cliente est compatible avec le portage salarial

– Que la durée de prestation d’une durée maximum de 36 mois ne comporte pas quelques interdits (service à la personne, travaux dangereux, professions réglementées)

– Vérifier que le salarié porté est qualifié pour l’activité de portage définie par la convention collective

– Vérifier la solidité financière de l’entreprise cliente pour assurer la garantie des salaires

– Proposer une intégration à son réseau professionnel pour un salarié exerçant une activité indépendante. Ce dernier peut créer son activité et sa propre clientèle en conservant le statut de salarié porté.

– Elle doit vérifier les outils et le matériel mis à la disposition du salarié (plateforme d’échanges, accès mobile au compte d’activité…)

– Conclure dans les 2 jours de la demande le contrat avec l’entreprise cliente qui l’a négocié avec le salarié

– Doit ouvrir un compte d’activité au salarié

– Vérifier les compétences pour développer un projet professionnel

– Souscrire pour le compte du salarié une assurance responsabilité civile professionnelle

– L’entreprise de portage est rémunérée par les frais de gestion (mis en place de la convention facturation…)

L’entreprise cliente :

– Doit vérifier les compétences du salarié porté compatibles avec les missions qui lui seront confiées

– Doit négocier les conditions du contrat qui seront établi par l’entreprise de portage

– Présenter les outils mis à sa disposition

– L’informer des conventions collectives qui déterminent entre autres le salaire minimum (77% du plafond Sécurité Sociale)

– Devra accompagner le salarié dans l’exécution des missions

– Devra approuver le CRA (compte rendu d’activité) (charges de travail, dates et heures effectuées) qui établira sur cette base la feuille de paye

– Le financement de cette rémunération fait suite aux missions remplies par le salarié porté qui sont payées par le client à l’entreprise cliente qui à son tour paiera le salarié</p>

</div>


<div class="m-3">
  <b style="color:dark">
    Alors que trouve-t-on dans un contrat de portage salarial ? Quels sont les avantages pour les salariés
    portés ? Qu’en est-il du financement et de la rémunération ? Quelle est la règlementation relative au
    portage salarial ?
  </b>
</div>




{% endblock %}
