{% extends "base.html.twig" %}
{% block titre %}Ressources{% endblock %}

{% block body %}
<p class="ressources">
Il est parfois difficile de faire face au flot de ressources et d'informations disponibles pour
se lancer en indépendant, choisir son statut et en comprendre les subtilités ! Notre équipe a
pensé à tout cela en proposant via nos livres blancs du contenu à la fois concis et complet.
Des cas pratiques illustrent chaque section afin de vous apporter des réponses très concrètes
 à vos questions les plus courantes.
</p>
{% endblock %}
