<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>simulator du portage salarial</title>
</head>
<body>
  <script>
    var facturation_encaissée=prompt("Enter your facture encaissée");
    var free_professionnels=prompt("Enter your free_professionnels");
    var taux_de_frais_de_gestion=prompt("Enter your taux de frais de gestion");
    var frais_de_gestion=prompt("Enter your frais de gestion");
    var disponible_consultant=prompt("Enter your disponible_consultant");
    var disponible_masse_salariale=prompt("Enter your disponible masse salariale");
    var charges_patronales=prompt("Enter your charges_patronales");
    var charges_salariales=prompt("Enter your charges_salariales");
    var salaire_brut= parseInt(facturation_encaissée) + parseInt(free_professionnels) + parseInt(frais_de_gestion) + parseInt(disponible_consultant) + parseInt(disponible_masse_salariale) + parseInt( charges_patronales) + parseInt(charges_salariales) + parseInt(charges_salariales);
    var tax = salaire_brut * 0.35;
    var salaire_net= salaire_brut - tax;
    document.write("<br>Your gross pay is \t "+salaire_brut);
    document.write("<br>Your net Income is \t "+salaire_net);
    document.write("<br>Tax deducted on Gross pay was\t "+tax);




  </script>

</body>
</html> -->
