{% extends "base.html.twig" %}
{% block titre %}Qui sommes-nous?{% endblock %}

{% block body %}
<div class="QuiSommesNous">
<h3>DigitalPortage :</h3>
{# <p class="sommes"> #}
société de portage salarial spécialisée dans le domaine de l’informatique et du conseil
Depuis sa création en 2023, notre société de portage s’est spécialisée dans le portage salarial appliqué au domaine de l’informatique et du conseil. Nos conseillers connaissent donc parfaitement ce marché et peuvent vous apporter une expertise particulière et des conseils personnalisés pour vous aider à développer votre activité freelance.<br>

En tant qu’entreprise de portage salarial,DigitalPortage offre un accompagnement et un soutien à des consultants indépendants ou souhaitant le devenir. Nous mettons un point d’honneur à développer une relation avec nos intervenants pour leur permettre de s’épanouir dans leurs missions.<br>

Nos conseillers sont présents au quotidien pour répondre à vos questions et vous offrir des services de qualité.<br>
{# </p> #}

<p>Contactez-nous pour obtenir plus d’informations.</p><br>
{# <h3 class="defih3">Définition et rôles d’une société de portage salarial</h3><br> #}
<h3>Définition de l’entreprise de portage salarial:</h3><br>
{# <p class="sommes"> #}
Une société de portage salarial est une entreprise hébergeant l’activité d’un consultant indépendant. En effet, le portage salarial est un statut hybride entre salariat et freelance. De ce fait, le consultant porté devient salarié de la société de portage salarial.<br>

Juridiquement, le Code du Travail prévoit que :<br>

« Seule une entreprise de portage salarial, exerçant à titre exclusif l’activité de portage salarial, peut conclure des contrats de travail en portage salarial » (article L1254-24).<br>


<h2>Les rôles et obligations de la société de portage salarial</h2><br>

<p>La société de portage salarial est un acteur central de la relation tripartite définie dans le portage salarial. En effet, elle est à la fois liée au consultant porté (par un contrat de travail), et à l’entreprise cliente (par un contrat de prestation). Elle doit donc tenir un double rôle : employeur et prestataire de service.<br>

En devenant l’employeur de ses portés, l’entreprise de portage salarial est tenue de respecter certaines obligations :<br>

✅respecter les dispositions définies dans la convention collective du portage salarial (applicable depuis juillet 2017),<br>
✅réaliser la déclaration unique d’embauche (DUE) pour chaque nouveau porté,<br>
✅affilier chaque porté à la Sécurité Sociale et à Pôle Emploi,<br>
✅appliquer les dispositions légales relatives au Code du Travail (contrats de travail, durée du travail, etc.),<br>
✅verser mensuellement une rémunération au consultant en portage,<br>
✅verser les charges sociales et fiscales aux organismes dédiés…<br>
D’autre part, en tant que prestataire de service, la société de portage salarial doit honorer le contrat de prestation qu’elle aura préalablement signé. Elle se substitue ainsi juridiquement au consultant et se porte ainsi garant du bon déroulement de la prestation.<br>

Enfin, la mission principale d’une entreprise de portage salarial est de gérer au quotidien les tâches administratives liées à l’activité d’un consultant indépendant, afin que celui-ci puisse se concentrer sur son cœur de métier.<p><br>

<h2>Pourquoi nous choisir ?</h2><br>


<h3>Le portage salarial:</h3>
<p>
un statut alliant indépendance et sécurité<br>
En choisissant le portage salarial, vous optez pour un statut atypique associant l’indépendance du freelance et la sécurité du salarié.

Le portage salarial vous permet donc de bénéficier des avantages du statut d’indépendant :<br>

✅choix de vos clients et de vos missions,<br>
✅organisation de votre temps de travail comme bon vous semble,
✅changement d’environnement de travail au gré de vos envies,<br>
✅développement de votre spectre de compétences grâce à la réalisation de missions diversifiées…<br>
Vous avez ainsi l’opportunité d’allier ces avantages avec ceux du salarié :<br>

✅garantie de percevoir une rémunération mensuelle indépendamment du paiement de votre client,<br>
✅réception d’un bulletin de paie que vous pouvez présenter aux organismes bancaires ou immobiliers,<br>
✅affiliation à la Sécurité Sociale et à Pôle Emploi vous permettant de bénéficier d’une couverture sociale optimale…<br>
D’autre part, le portage salarial vous permet d’exercer votre activité d’expert informatique sans avoir à créer votre propre structure juridique, puisque notre société de portage héberge votre activité et gère l’ensemble des démarches administratives. Vous avez donc l’opportunité de vous lancer en tant que freelance sans la moindre contrainte !<br>

Découvrez l'offre de portage salarial DigitalPortage dès 5% de frais de gestion<br>
Des conseillers à votre écoute<br>
Parce que la relation humaine est un point essentiel pour développer une relation de confiance pérenne avec nos intervenants, nos conseillers sont quotidiennement à votre écoute pour vous répondre à vos questions.<br>

Chaque porté a un interlocuteur commercial et un interlocuteur administratif dédié pour l’accompagner et le conseiller tout au long de la collaboration. Cela vous permet de bénéficier d’une relation privilégiée avec nos équipes et d’un suivi individualisé et personnalisé.<br>

Contactez nos conseillers pour connaître les démarches à effectuer pour vous inscrire en portage salarial<br>
Une expertise partout en France
De par sa spécialisation dans le domaine informatique, notre société de portage a développé une expertise et un réseau d’experts en informatique sur tout le territoire national. Vous avez ainsi l’opportunité de bénéficier d’une offre de portage salarial personnalisée peu importe votre lieu de résidence et le lieu d’exécution de votre mission.<br>

De plus, notre société de portage a développé des relations privilégiées avec des business partners vous permettant d’avoir accès à des offres de mission en portage salarial en cohérence avec votre profil.</p><br>

<h3>Les garanties DigitalPortage</h3><br>
<h5>Une gestion administrative de qualité</h5><br>
<p>Le portage salarial vous permet de déléguer l’ensemble de vos tâches administratives à notre société de portage. Vous gagnez ainsi un temps considérable qui vous permet de vous concentrez sur la réalisation de vos prestations et la recherche de nouvelles missions.<p><br>

<h6>Ainsi, notre société de portage s’occupe de l’ensemble de vos démarches administratives :</h6><br>
<P>
✅facturation de vos clients,<br>
✅relance de vos clients en cas de retard de paiement,<br>
✅gestion de votre comptabilité,<br>
✅établissement de vos déclarations sociales et fiscales,<br>
✅versement des cotisations aux organismes dédiés,<br>
✅établissement de votre bulletin de paie…<br>
</P>

<p>D’autre part, notre société de portage salarial est membre du PEPS, syndicat des professionnels de l’emploi en portage salarial. Vous avez ainsi la garantie du respect des bonnes pratiques éthiques, commerciales et juridiques définies par ce syndicat.<p><br>

<h5>Calculez votre salaire net en portage salarial grâce à notre simulateur<h5><br>
<p class="sociale">Une couverture sociale optimale<br>
Le portage salarial vous permet de conserver le statut de salarié et de bénéficier de ses avantages. Vous pourrez ainsi être indépendant tout en profitant :<br>

✅de l’affiliation à la Sécurité Sociale vous permettant d’être couvert par l’assurance maladie,<br>
✅de l’affiliation à Pôle Emploi vous permettant de bénéficier de l’assurance chômage à la fin de votre mission,<br>
✅du droit à la formation professionnelle,<br>
✅du droit au congés payés,<br>
✅des cotisations retraite votre permettant de comptabiliser vos trimestres…<br>
Aussi, notre société de portage vous apporte différentes garanties financières :<br>

l’Assurance de Garantie des Salaires (AGS) de l’Unedic vous garantissant le versement de vos salaires dus en cas de défaillance de notre société,<br>
l’Assurance Responsabilité Civile Professionnelle souscrite auprès d’Axa Assurance,<br>
une garantie financière souscrite également auprès d’Axa Assurance.<p><br>

</div>


{% endblock %}
